h1 {
    text-align: center;
    font-size: 3rem;
    color:aquamarine;
}

body {
    background-image: url(https://www.destingetaways.com/sites/default/files/images/Destin%20beach%20.jpg);
    background-size: 100rem 100rem;
    
}